{% extends "videos_view/videos_home.html" %}
{% block roots %}
    <script>
    {% if liveRoot %}
    
    dinxVideosController.setBackgroundImage("disable");
    dinxVideosController.showSearchBar(1);
    dinxVideosController.setEmptyRoot(0);
    dinxVideosController.current.rootName = "{{ liveRoot }}"
    {% endif %}
    </script>

<select class = "rootsSelectElement"
        id ="rootsSelectElement"
        onclick="dinxVideosController.selectInput.action(this)"
        onblur="dinxVideosController.selectInput.blur()"
        size ="5">
        
{% for root in roots %}
<option value="/trova/?root={{ root }}{% if 'date' not in liveDate %}&date={{ liveDate }}{% endif %}">{{ root }}</option>
{% endfor %}
</select>
{% endblock %}


{% block items %}
{% if people|length > 0 %}
<select class = "itemsSelectElement people" id="itemsSelectElement people" size ="7"
        onclick="dinxVideosController.selectInput.action(this)"
        onblur="dinxVideosController.selectInput.blur()">
{% for person in people %}
<option value="/trova/?root={{ liveRoot }}&q={{ person.name }}{% if 'date' not in liveDate %}&date={{ liveDate }}{% endif %}">{{person.name}}</option>
{% endfor %}
</select>
{% endif %}
{% if locations|length > 0 %}
<br>

<select class = "itemsSelectElement locations" id="itemsSelectElement locations" size ="3"
        onclick="dinxVideosController.selectInput.action(this)"
        onblur="dinxVideosController.selectInput.blur()">
{% for location in locations %}
<option value="/trova/?root={{ liveRoot }}&location={{ location.name }}{% if 'date' not in liveDate %}&date={{ liveDate }}{% endif %}">{{ location.name }}</option>
{% endfor %}
</select>
{% endif %}


{% if genres|length > 0 %}
<br>
<select class = "itemsSelectElement genres" id="itemsSelectElement genres" size ="3"
        onclick="dinxVideosController.selectInput.action(this)"
        onblur="dinxVideosController.selectInput.blur()">
{% for genre in genres %}
<option value="/trova/?root={{ liveRoot }}&genre={{ genre.name }}{% if 'date' not in liveDate %}&date={{ liveDate }}{% endif %}">{{ genre.name }}</option>
{% endfor %}
</select>
{% endif %}

{% if misc|length > 0 %}
<br>

<select class = "itemsSelectElement misc" id="itemsSelectElement misc" size ="3"
        onclick="dinxVideosController.selectInput.action(this)"
        onblur="dinxVideosController.selectInput.blur()">
{% for item in misc %}
<option value="/trova/?root={{ liveRoot }}&q={{ item.name }}{% if 'date' not in liveDate %}&date={{ liveDate }}{% endif %}">{{ item.name }}</option>
{% endfor %}
</select>
{% endif %}
{% endblock %}


{% block dates %}

<select class = datesSelectElement
        id ="datesSelectElement"
        size ="5"
        onclick="dinxVideosController.selectInput.action(this)"
        onblur="dinxVideosController.selectInput.blur()">
    
{% for date in dates %}
<option value="/trova/?root={{ liveRoot }}&date={{ date }}{% if '+' not in liveItem and liveItem %}&q={{ liveItem }}{% endif %}">{{ date }}</option>
{% endfor %}
</select>

{% endblock %}



{% block events %}
{% endblock %}

{% block pagination %}
    <script>
    {% if totalPages > 1 %}
        dinxVideosController.setPaginationElement({{ totalVideos }});
    {% else %}
        $('.paginationElement').css('border','none');

    {% endif %}
    </script>
{% endblock %}

{% block userSite %}
<a href="/faq"><figure class="videoImage"><img class="userSiteImg" src="/media/images/faq.png"/><figcaption>FAQ</figcaption></figure></a>
<a href="/about"><figure class="videoImage"><img class="userSiteImg" src="/media/images/about.png"/><figcaption>about</figcaption></figure></a>
{% if user.is_authenticated %}
    <a href="/accounts/logout/"><figure class="videoImage"><img class="userSiteImg" src="/media/images/logout.png"/><figcaption>logout</figcaption></figure></a>
{% else %}
<a href="/accounts/login/"><figure class="videoImage"><img class="userSiteImg" src="/media/images/login.png"/><figcaption>login</figcaption></figure></a>
<a href="/accounts/register/"><figure class="videoImage"><img class="userSiteImg" src="/media/images/register.png"/><figcaption>register</figcaption></figure></a>
{% endif %}
{% endblock %}

{% block channelControls %}
<a href="#" onclick="dinxVideosController.toggleTimeline()">Toggle timeline</a>
{% endblock %}








{% block resultsPage %}
            <ul id ="videosBox" class="videosBox"></ul>

            {% for event in resultsInt %}
                <script>
                        //other items in video:
                        var itemsInEvent = [];
                        {% for item in event.items %}
                            {% if item.name|length > 3 %}
                            itemName = "{{ item.name.strip }}";
                            if (itemsInEvent.indexOf(itemName) === -1) {
                                itemsInEvent.push(itemName);
                            }
                            {% endif %}
                        {% endfor %}

                        //other items in video:
                        dinxVideosController.setCurrentChannel();
                        {% for video in event.videos %}
                        cUrl = "{{ video.url }}";
                        if (dinxVideosController.allUrls.indexOf(cUrl) === -1) {
                            video = {
                                "title": "{{ video.title }}",
                                "url": "{{ video.url }}",
                                "image":"{{ video.thumbnail }}",
                                "date": "{{ video.date }}",
                                "root": "{{ video.root }}",
                                "duration": "{{ video.duration }}",
                                "name": "{{ video.name }}",
                                "relatedItems": itemsInEvent

                            };

                                dinxVideosController.addVideo(video);
                                dinxVideosController.createVideoLink('{{ video.thumbnail }}');
                                dinxVideosController.updateVideosIndex();
                                dinxVideosController.allUrls.push(cUrl);
                         }
                        {% endfor %}
                        </script>                
            {% endfor %}
     


{% endblock %}


