<!DOCTYPE html>
<html lang=en>
    <head>
	<meta charset=utf-8>
	<title>{{ liveRoot }} {{ liveItem }} {{ liveDate }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="http://jwpsrv.com/library/exJTktmcEeKi+RIxOQulpA.js"></script>
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-33704775-1']);
  		  _gaq.push(['_setDomainName', 'dinx.tv']);
		  _gaq.push(['_trackPageview']);
                  _gaq.push(['_setCustomVar',
                        1, // This custom var is set to slot #1.  Required parameter.
                        'q',           // The top-level name for your online content categories.  Required parameter.
                        '{{ query }}',  // Sets the value of "Section" to "Life & Style" for this particular aricle.  Required parameter.
                        3          // Sets the scope to page-level.  Optional parameter.
                 ]);

  		(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

	</script>
        <script src="/media/js/new/dinxYTPlayer.js"></script>
        <script src="/media/js/new/dinxVideosController.js"></script>
        <LINK REL=StyleSheet HREF="/media/css/videos.css" TYPE="text/css" MEDIA=screen>
    </head>
	<body>
            <script>
                vids = [];
                
            </script>

           <header>
<div class=logo>
    <a href = http://www.dinx.tv> <img src ="{{ UNIVERSALPATH }}/media/images/dinx_logo.png" /></a>
</div>
<div class=categoriesElement>
    {% for cat in categories %}
        <a href ="#" onclick="dinxVideosController.showRootsIn('{{ cat }}');"><figure class="categoryFigure">
            <img src ="{{ UNIVERSALPATH }}/media/images/{{ cat }}.png" />
            <figcaption>{{ cat }}</figcaption></figure>
        </a>
    {% endfor %}
    <script type=text/javascript>
        dinxVideosController.setBackgroundImage();
    {% for item in outlist %}
        var listObject = {
            "category" : "{{ item.category }}",
            "root" : "{{ item.root }}",
            "date": "{{ item.date }}"
        };
        dinxVideosController.rootsInCategory.push(listObject);
    {% endfor %}        
    </script>
    
    </div>
    <div class="userSite">
    <div class="explanation" id="explanation">Dinx automatically generates searchable video channels from topics, people, organisations, years and more...</div>
    {%block userSite%}
    {% endblock %}
    </div>
</header>
<section>
    <article>
    {% if aboutPage %}
        {% block faq %}
        {% endblock %}
    {% endif %}
    {% if showSearch > 0%}
    <form class="searchForm" id="searchForm" method="get" action="/trova/">
    {% csrf_token %}
        <p><label for="keyWordId"><h1 class=question id=question><span class="spanQuestion" id="spanQuestion">{{ q }}</span></h1></label>
        <input type="text" name="q" id="keyWordId" placeholder="{{ suggestion }}" />
        <input type="hidden" name="root" value="{{ r }}">
        <input type="submit" value="search" class="dinxit" id="dinxit" /></p>
    </form>
    <script>
    dinxVideosController.setHomeDiv();
    </script>
    {% else %}
        <div class="currentChannel">
            <div class="searchingTitle" id="searchingTitle"></div>
            <div class="channel">
                {% if totalVideos > 0 %}
                    {{ totalVideos }} videos in
                {% else %}
                    {{ totalVideos }}
                {% endif %}
                {{ liveRoot }}
                <script>
                    dinxVideosController.current.root = "{{ liveRoot }}";
                </script>
                {% if "+items" not in liveItem %}
                    {{ liveItem }}
                    <script>
                    dinxVideosController.current.item = "{{ liveItem }}";
                    </script>
                {% endif %}
                {% if "+date" not in liveDate %}
                <script>
                    dinxVideosController.current.date = "{{ liveDate }}";
                </script>
                {{ liveDate }}
                {% endif %}
            </div> 
            <div class="currentEvent"></div>
            {% if faqPage %}
            {% else %}
            <br><div class="updatedat">Channel updated at: {{ updatedAt }}</div>
            {% endif %}
        </div>
        
        
        <div class="videosDiv">
            {% block searching %}
            {% endblock %}
            {% block resultsPage %}
            {% endblock %}        
      
        {% if err %}
        <div class=noresults id=noresults><span class="spanNoResults" id="spanNoResults">{{ err }} <a href='http://www.dinx.tv/{{ currentRoot }}' ><b>Click here to go back.</b></a></span></div>
        {% endif %}
        </div>
   	<div id=playerElement></div>

     	 	{% block content %}
            {% endblock %}
    {% endif %}
    </article>
    <aside>
        
        <nav>
            <form class="searchBar" id="searchBar" method="get" action="/trova/">
    {% csrf_token %}
        <p><label for="keyWordIdBar">Search:</label>
        <input type="text" name="q" id="keyWordIdBar" />
        <input type="hidden" name="currentRoot" value="{{ liveRoot }}">
        <input type="submit" value="Submit" /></p>
    </form>
            <div id="roots">
                {% block roots %}
                {% endblock %}
            </div>
            {% if items and items.count > 0 %}
            <script>
                $('#roots').css('display','block')
            </script>
                <div id="items">
                    {% block items %}
                    {% endblock %}
                    <br>
                    <a href="/trova/?root={{ liveRoot }}{% if 'date' not in liveDate %}&date={{ liveDate }}{% endif %}">Remove item</a>
                </div>
            {% else %}
            <script>
                $('#items').css('display', 'none')
            </script>
            {% endif %}
            {% if dates.count > 0 %}
            <script>
                $('#roots').css('display','block')
            </script>
            <div id="dates">
                {% block dates %}
                {% endblock %}
                <a href="/trova/?root={{ liveRoot }}&q={{ liveItem }}">Remove date</a>
            </div>
            {% endif %}
            <div id="events">
                {% block events %}
                {% endblock %}
            </div>
            <div id ="related" class ="related"></div>

        </nav>
     </aside>
     
     <div class="paginationElement">
            {% block pagination %}
            {% endblock %}
      </div>
                
                
                <footer>
                <script>
                    dinxYTPlayer.init('{{ firstVideoUrl }}');
                    dinxYTPlayer.videos = vids;                    
                </script>
                </footer>

            </section>
            <footer>
                information[at]dinx.tv - <a href = {{ HOMEPATH }}about/ onclick = 'dinxUI.clearBackground()'>about</a> - <a href="https://twitter.com/DinxTv" target="blank">@dinxtv</a> - <a href= {{ UNIVERSALPATH }}>Dinx Television 2013</a>
                <script id="_webengage_script_tag" type="text/javascript">
                var _weq = _weq || {};
                _weq['webengage.licenseCode'] = 'd3a4a11c';
                _weq['webengage.widgetVersion'] = "4.0";

                (function(d){
                    var _we = d.createElement('script');
                    _we.type = 'text/javascript';
                    _we.async = true;
                    _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
                    var _sNode = d.getElementById('_webengage_script_tag');
                    _sNode.parentNode.insertBefore(_we, _sNode);
                })(document);
                </script>
            </footer>
	</body>
</html>
