{% extends "watch_view/watch.html" %}

{% block roots %}
<ul id="rootsNav">
    {% for root in roots %}
        {% if liveRoot in root %}
        <li class="isLive"><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ root }}/{{ liveDate }}">{{ root }}</a></li>
        {% else %}
            <li><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ root }}/{{ liveDate }}">{{ root }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block items %}
<ul id="itemsNav">
    <li><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ liveRoot }}/{{ liveDate }}">Remove item</a></li>
    {% for item in items %}
        {% if liveItem in item %}
        <li class="isLive"><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ liveRoot }}/{{ item.name }}/{{ liveDate }}">{{ item.name }}</a></li>
        {% else %}
            <li><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ liveRoot }}/{{ item.name }}/{{ liveDate }}">{{ item.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block dates %}
<ul id="datesNav">
    <li><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ liveRoot }}/{{ liveItem }}">Remove date</a></li>
    {% for date in dates %}
        {% if liveDate in date %}
        <li class="isLive"><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ liveRoot }}/{{ date }}/{{ liveItem }}">{{ date }}</a></li>
        {% else %}
            <li><a href="{{ DATAPATH }}/{{ URLROOT }}/{{ liveRoot }}/{{ date }}/{{ liveItem }}">{{ date }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block events %}
<ul id="eventsNav">
    {% for result in results %}
            <li><a href="#" onclick="dinxJWPlayer.loadVideoByUrl('{{ result.videos.0.url }}')">{{ result.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}