<!DOCTYPE html>
<html lang=en>
    <head>
	<meta charset=utf-8>
	<title>{{ liveRoot }} {{ liveItem }} {{ liveDate }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="http://jwpsrv.com/library/exJTktmcEeKi+RIxOQulpA.js"></script>
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-33704775-1']);
  		  _gaq.push(['_setDomainName', 'dinx.tv']);
		  _gaq.push(['_trackPageview']);

  		(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

		</script>
        <script src="{{ HOMEPATH }}/media/js/new/dinxJWPlayer.js"></script>
        <LINK REL=StyleSheet HREF="/media/css/watch.css" TYPE="text/css" MEDIA=screen>
        <script>
            if (navigator.userAgent.indexOf("Firefox")!=-1) {
                filename = "/media/css/watchFF.css";
            } else {
                filename = "/media/css/watch.css";
            }
            var fileref=document.createElement("link")
            fileref.setAttribute("rel", "stylesheet")
            fileref.setAttribute("type", "text/css")
            fileref.setAttribute("href", filename)

            if (typeof fileref!="undefined") {
                document.getElementsByTagName("head")[0].appendChild(fileref)
            }
            
        </script>
        
    </head>
	<body>
            <script>
                vids = [];
            </script>

            <header>
                <h1>
                    <div class="live">
                        Watching <a href="#" onclick="dinxJWPlayer.toggleOption('roots')">{{ liveRoot }}</a>
                        <a href="#" onclick="dinxJWPlayer.toggleOption('items')">{{ liveItem }}</a>
                        <a href="#" onclick="dinxJWPlayer.toggleOption('dates')">{{ liveDate }}</a>
                    </div>

                    <div class="liveEvent">
                        <a href="#" onclick="dinxJWPlayer.toggleOption('events')">
                        {{ firstVideoName }}
                        </a>
                        <a id="nextVideo" href="#" onclick="dinxJWPlayer.playChannel()">next video</a>
                    </div>
                </h1>
                <nav>
                    <div id="roots">
                        {% block roots %}
                        {% endblock %}
                    </div>
                    <div id="items">
                        {% block items %}
                        {% endblock %}
                    </div>
                    <div id="dates">
                        {% block dates %}
                        {% endblock %}
                    </div>
                    <div id="events">
                        {% block events %}
                        {% endblock %}
                    </div>
                </nav>
                {% block userFuntionalities %}
                {% endblock %}
            </header>
            <section>
                <article>
                    <div id="JWPlayerId">
                        <a href="http://www.adobe.com/go/getflashplayer">Get flash</a> to see this player
                    </div>
                </article>
                <aside>
                    <ul id ="videosBox" class="videosBox"></ul>
                    {% for result in results %}
                        {% for video in result.videos %}
                        <script>

                        video = {
                            "title": "{{ video.title }}",
                            "url": "{{ video.url }}",
                            "image":"{{ video.thumbnail }}",
                            "date": "{{ result.date }}",
                            "root": "{{ video.root }}",
                            "duration": "{{ video.duration }}",
                            "name": "{{ result.name }}"


                        }
                        dinxJWPlayer.addVideo(video)
                        dinxJWPlayer.createVideoLink('{{ video.thumbnail }}');
                        dinxJWPlayer.updateVideosIndex();
                        </script>


                        {% endfor %}
                    {% endfor %}

                </aside>
                <footer>
                <script>
                    dinxJWPlayer.init('{{ firstVideoUrl }}');
                    dinxJWPlayer.videos = vids;
                </script>
                </footer>

            </section>
            <footer>
            <a href = {{ HOMEPATH }}about/ onclick = 'dinxUI.clearBackground()'>about</a> - @dinxtv - <a href= {{ UNIVERSALPATH }}>Dinx Television 2013</a>
            </footer>
	</body>
</html>
