{% extends "../base.html" %}
{% block content %}
<header>
<div class=logo>
    <a href = {{ UNIVERSALPATH }}> <img src ="{{ UNIVERSALPATH }}/media/images/dinx_logo.png" /></a>
</div>
<nav id ="homePageNav">
    <a href = {{ HOMEPATH }}/about/ onclick = 'dinxUI.clearBackground()'>about</a>
    <a href = {{ HOMEPATH }}/videos/ onclick = 'dinxUI.clearBackground()'>live</a>
    {% if user.is_authenticated %}
    {% else %}
    <a href = {{ HOMEPATH }}/accounts/register onclick = 'dinxUI.clearBackground()'>register</a>
    {% endif %}
</header>
<section>
    <article>
        <h1>Click on a topic to start exploring:</h1>
        <ul class="homeRoots">
            {% for root1 in roots1 %}
            <li class="homeRootItem"><a href="/videos/{{ root1 }}/{{ choice }}">{{ root1 }}</a></li>
            {% endfor %}
        </ul>
    </article>
    <aside>
    </aside>
</section>
{% endblock %}