{% extends "../base.html" %}
{% block content %}
{% if user.is_authenticated %}
	<header>
<div class=logo>
<a href = {{ UNIVERSALPATH }}> <img src ="{{ UNIVERSALPATH }}/media/images/dinx_logo.png" /></a>
</div>
<div class=categoriesElement>
    {% for cat in categories %}
                <a href ="#" onclick="dinxController.createChannel('{{ cat }}','category');"><figure class="categoryFigure"><img src ="{{ UNIVERSALPATH }}/media/images/{{ cat }}.png" /><figcaption>{{ cat }}</figcaption></figure></a>
    {% endfor %}
</div>
	<script type=text/javascript>
		dinxController.init();
		dinxController.roots.length = 0;
        {% for item in r %}
            rootsInYear = []
			{% for root in item.roots %}
                rootsInYear.push("{{ root }}");
    			//rootsInYear.push(listObject);
     		{% endfor %}
     		var listObject1 = {
    	        "date": "{{ item.date }}",
                "roots": rootsInYear
            };          

   			dinxController.allRootsByYear.push(listObject1);
		{% endfor %}


		{% for item in outlist %}
                {% if 'history' in item.category and 'Friendly' in item.root  %}
                {% else %}
		var listObject = {
            category : "{{ item.category }}",
            name : "{{ item.root }}",
            date: "{{ item.date }}"
        };            
        
        dinxController.log("{{ item.root }} {{ item.date }} - ");
   		dinxController.roots.push(listObject);
                {% endif %}
		{% endfor %}
        dinxController.log(dinxController.roots.length);
        var listReference = {
            data : dinxController.roots,
            type : "roots"
			 
        };
		//dinxController.lists.push(listReference);    
    </script>
	

    </header>
    <aside>
    </aside>
	<article>
        <div class=playerAndControls>
   	<div id=playerElement><script type=text/javascript></script></div>
        </div>
	</article>
    	
{% else %}
<a href = "/videos/Serie A/" class=videosButton>videos</a>     <a href = "/about/" class=aboutButton onclick='dinxUI.clearBackground()'>about</a>     <a href = "/accounts/login/?next=/" class=loginButton>login</a>
{% endif %}
{% endblock %}
