{% extends 'videos_view/videos_data.html' %}

{% block searching %}
    <p><div id = "searching" class="searching">
            {% if query %}
            <ul id ="videosBox" class="videosBox"></ul>

            {% for video in page.object_list %}
                <script>
                        //other items in video:
                        var itemsInEvent = [];
                        {% for item in video.items %}
                            {% if item|length > 3 %}
                            itemName = "{{ item.strip }}";
                            if (itemsInEvent.indexOf(itemName) === -1) {
                                itemsInEvent.push(itemName);
                            }
                            {% endif %}
                        {% endfor %}
                        
                        //other items in video:
                        dinxVideosController.setCurrentChannel();

                        video = {
                            "title": "{{ video.title }}",
                            "url": "{{ video.url }}",
                            "image":"{{ video.thumbnail }}",
                            "date": "{{ video.date }}",
                            "root": "{{ video.root }}",
                            "duration": "{{ video.duration }}",
                            "name": "{{ video.name.0 }}",
                            "relatedItems": itemsInEvent

                        };
                        cUrl = "{{ video.url }}";
                        if (dinxVideosController.allUrls.indexOf(cUrl) === -1) {
                            dinxVideosController.addVideo(video);
                            dinxVideosController.createVideoLink('{{ video.thumbnail }}');
                            dinxVideosController.updateVideosIndex();
                            dinxVideosController.allUrls.push(cUrl)
                        }
                        </script>
            
                    

            {% include 'search/indexes/dinx_app/video_text.txt' %}
            {% empty %}
                {% if totalVideos == 0 %}
                <p>No results found.</p>
                {% endif %}
            
            {% endfor %}
        </div>
            {% if page.has_previous or page.has_next %}
            <script>
                $('.paginationElement').html("")
            </script>
                <div class="paginationElementNXPV" id="paginationElementNXPV">
                    <div class="pages" id="pages">
                    {% if page.has_previous %}<a class="navSearch" href="{{ currentUrl }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a class="navSearch" href='{{ currentUrl }}&amp;page={{ page.next_page_number }}'">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                    
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
   
    </div></p>

{% endblock %}


