{% extends "base.html" %}
{% block aboutInfo %}
<script type=text/javascript>
dinxUI.clearBackground();
$('body').css('background-color', '#000000').css('position','fixed').css('width','100%').css('height','100%');
$('header').css('position','relative !important');
</script>
<iframe src="https://docs.google.com/presentation/d/175C-Iw1JwCuXxI-fmTLtUMEB1HB86jtDy4X23X9ILRc/embed?start=false&loop=false&delayms=10000" frameborder="0" width="100%" height="90%" top="0px" left="0px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style = ""></iframe>
{% endblock %}

