<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<title>{{ home }}</title>
                <LINK REL=StyleSheet HREF="{{ UNIVERSALPATH }}/media/css/style.css" TYPE="text/css" MEDIA=screen>
                
		<script type='text/javascript' src='http://swfobject.googlecode.com/svn/trunk/swfobject/swfobject.js'></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
                
                <script type='text/javascript' src="{{ UNIVERSALPATH }}/media/js/new/dinxUI.js"></script>
                
        {% if user.is_authenticated %}
                <script type='text/javascript' src="{{ UNIVERSALPATH }}/media/js/new/dinxController.js"></script>
		<script type='text/javascript' src="{{ UNIVERSALPATH }}/media/js/new/dinxPlayer.js"></script>
                <script type='text/javascript' src="{{ UNIVERSALPATH }}/media/js/new/dinxFeedsHandler.js"></script>
            
        {% endif %}	
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-33704775-1']);
  		  _gaq.push(['_setDomainName', 'dinx.tv']);
		  _gaq.push(['_trackPageview']);

  		(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

		</script>
        <script type="text/javascript">
        function setBackgroundImage(dir) {
		    if (typeof dir === "undefined") {
		        dir = "http://"+window.location.hostname + "/media/images/backgrounds/";
		        
		    }
		    var imgCount = 15;
		    var randomCount = Math.round(Math.random() * (imgCount - 1)) + 1;
		// array of images & file name
		    var images = [];
            for (var i = 0; i < imgCount; i++) {
                images[i] = i+".jpg";
            }
        {% if aboutPage %}
        {% else %}
		    document.body.style.backgroundImage = "url(" + dir + images[randomCount] + ")";
        {% endif %}
        {% if faqPage %}
            document.body.style.backgroundImage = "url(" + dir + images[randomCount] + ")";
        {% endif %}
        }

        </script>
        {% block initialize %}
        
        {% endblock %}
        
	</head>
    {% if backgroundImagesFolder %}
	    <body onload = "setBackgroundImage('{{ backgroundImagesFolder }}')">
    {% else %}
        <body onload = "setBackgroundImage()">
    {% endif %}
       <header>
<div class=logo>
    <a href = http://www.dinx.tv> <img src ="{{ UNIVERSALPATH }}/media/images/dinx_logo.png" /></a>
</div>
<div class=categoriesElement>
    {% for cat in categories %}
        <a href ="#" onclick="dinxVideosController.showRootsIn('{{ cat }}');"><figure class="categoryFigure">
            <img src ="{{ UNIVERSALPATH }}/media/images/{{ cat }}.png" />
            <figcaption>{{ cat }}</figcaption></figure>
        </a>
    {% endfor %}
    <script type=text/javascript>
        dinxVideosController.setBackgroundImage();
    {% for item in outlist %}
        var listObject = {
            "category" : "{{ item.category }}",
            "root" : "{{ item.root }}",
            "date": "{{ item.date }}"
        };
        dinxVideosController.rootsInCategory.push(listObject);
    {% endfor %}
    </script>

    </div>
    {% include "videos_view/videos_data.html" %}
    <div class="userSite">
    {%block userSite%}
    {% endblock %}
    </div>
</header>
     	 	{% block content %}
            {% endblock %}
        {% if aboutPage %}
            {% block aboutInfo %}
            {% endblock %}
        {% endif %}
        <footer>
        {% if user.is_authenticated %}
            <a href = {{ HOMEPATH }}/logout/>Logout</a> -
        {% endif %}
            <a href = {{ HOMEPATH }}/about/ onclick = 'dinxUI.clearBackground()'>about</a> - @dinxtv - <a href= {{ UNIVERSALPATH }}>Dinx Television 2013</a>    </footer>
	</body>
</html>
