{% extends "home.html" %}

{% block dates_block %}
<ul id = "dates_list" class = "jcarousel-skin-ie7"> 
{% for d in available_dates %}
    <li><a href = "http://localhost:8000/{{ d }}/{{ roots.0 }}/">{{ d }}</a></li>
{% endfor %}
</ul> 
{% endblock %}

{% block root_block %}

<ul id = "rootslist">
{% for root in roots %}
    <li><a href =# onclick="loadDataByRoot({{year}},'{{ root }}')">{{ root }}</a></li>
{% endfor %}
</ul>
{% endblock %}


<---events block --->

{% block items_block %}
{% for item in items %}
<li><a href="{{ item }}" onclick=loadDataByItem({{year}},"{{item}}")>{{item}}</a></li>
{% endfor %}
{% endblock %}


