{% extends "base.html" %}
{% block aboutInfo %}
<script>
//dinxUI.clearBackground();
//$('body').css('background-color', '#000000').css('position','fixed').css('width','100%').css('height','100%');
//$('header').css('position','relative !important');
</script>
<div class="faq" id="faq">
    <div class="divFaq" id="divFaq"><b>What is DINX TELEVISION?</b><br>

Dinx TV is a platform to enjoy VOD content in a TV experience. Dinx analyses data and creates video channels from YouTube, Vimeo and Dailymotion. The channels can be explored by years, names, locations, related entities and topics.</div><br>


<div class="divFaq" id="divFaq"><b>Why should I register on Dinx?</b><br>

To be among the first to use Dinx awesome social features in Q4 2013.</div><br>


<div class="divFaq" id="divFaq"><b>How often is Dinx updated?</b><br>

Continuously. Dinx engine is automatically adding and removing videos 24/7 so you always get the freshest videos available. You can check the time when a specific channel was last updated by looking at the date under the channel name.</div><br>


<div class="divFaq" id="divFaq"><b>Why should I use Dinx?</b><br>

If you enjoy a genre or period of time you can find all the related videos in that time, not only the classics.<br>

If you are annoyed to search 3 minutes for a 3 minutes video, and when that finishes, start all over again. With Dinx in 1 minute you find the first video, then the following ones are suggested automatically.</div><br>


<div class="divFaq" id="divFaq"><b>How can I start using Dinx service?</b><br>

To start using Dinx click on the main categories at the top. Then a subcategory on the menu in the left, for example Serie A, then you can refine your search by searching for teams or years. Different searching options are available for different subcategories.</div><br>

<div class="divFaq" id="divFaq"><b>What data formats does Dinx use to serve content?</b><br>

Dinx allows data to be retrieved in different ways:<br>

    1. For PC devices:<br>
    http://www.dinx.tv/videos/Serie%20A/<br>

                     or<br>

    http://www.dinx.tv/trova/root=Serie%20A&q=Cremonese<br>

    2. For TVs and hand held devices:<br>
    http://www.dinx.tv/watch/Serie%20A/<br>

    3. API, returns JSON format. Documentation is in progress.<br>
    http://www.dinx.tv/api/Serie%20A/json<br>
</div>
<br>

<div class="divFaq" id="divFaq"><b>What license is Dinx released under?</b><br>

Dinx is licensed under a BSD license.<br>
</div>
<br>
<div class="divFaq" id="divFaq"><b>What is Dinx current version?</b><br>

We are currently in alpha phase, version: dinx-television-0.1.123<br>

</div><br>

<div class="divFaq" id="divFaq"><b>What kind of questions can Dinx answer now?</b><br>

All movies of X actor in Y year.<br>

All games of X Serie A team in Y year.<br>

The history of X videogame across Z years.<br>

The history of X person across Z years.<br>

The history of X location across Z years.</div>
<br>

<div class="divFaq" id="divFaq"><b>What kind of questions will Dinx answer in the future?</b><br>

All videos with X and Y actor<br>

All videos with X actor between Z and Y year.<br>

All videos of X team between Z and Y year.<br>

All videos of X team against N team across Z and Y year.</div><br>

<div class="divFaq" id="divFaq"><b>Does Dinx host any video content?</b><br>

No. All the video content currently on Dinx is hosted on the respective providers servers. We aggregate content, not store it.</div><br>


</div>
{% endblock %}

