/* 
    Document   : general
    Created on : 26-Jun-2013, 23:39:25
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

footer {
    width: 100%;
    background-color: #f0f0f0;
    text-align: right;
    color: #000000;
    position: fixed;
    bottom: 1.5%;
    font-size: 15px;
    left: 0px;
    padding-right: 10px;
}

form {
    background-color: #ffffff;
    opacity: 0.7;
    position: fixed;
    bottom: 40%;
    right: 45%;
    border: 4px black solid;
}

.videosButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 10%;
    top: 10%;
    position: fixed;
}

.aboutButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 80%;
    top: 10%;
    position: fixed;

}

.loginButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 80%;
    bottom: 10%;
    position: fixed;
}

.register {
    background-color: #ffffff;
}