body {
    display: block;
    font-family: "Courier New";
    font-size: 1.2em;
    overflow:hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

header {
    background-color: #f0f0f0;
    height:70px;
    width: 100%;
    display: block;
    position:fixed;
    z-index: 6;
    left: 0;
}

aside {
    width: 15%;
    padding-left: 8%;
    padding-top: 9%;
    float:left;
    position:fixed;
    
}

article {
    width:77%;
    display: block;
    float: right;
    padding-top: 9%;
    padding-bottom: 5%;
}

ul {
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 0em;
  display:block;
  list-style: none;
  float:left;
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;
  -webkit-margin-start: 10px !important;
  -webkit-margin-end: 10px !important;
  -webkit-padding-start: 10px !important;
  background-color: #ffffff;
}

li {
  float:right;
  padding-left: 5px;
  padding-right: 5px;
}

.timeline {
    white-space: normal;
    width: 15% !important;
    display: block;
    float: right;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 4;
    position: fixed;
    height: 75%;
    right: 1px;
}

.timeline ul {
    display: block;
    float: right;

}

.timeline li {
    white-space: normal !important;
    width: 150px;
    display: block;
    float: right;
}

.timeline figcaption {
    width: 140px;
    text-align: left;
}

.timeline img {
    width: 140px;
    height: 100px;
    background-color: cadetblue;
}

.videosElement ul {
    float: right;
    display: block;
    background-color: #ffffff;
    width: 100%;
}

.videoElement figure {
    width: 165px;
}

.videosElement li {
    float: right;
    padding-left: 1px;
    padding-right: 1px;
    white-space: nowrap;
    margin-left: 20px;
}
.videosElement img {
    width: 160px;
    height: 120px;
    background-color: cadetblue;
}

.loadingElement {
    padding-top: 50px;
    padding-bottom: 15px;
    display:block;
    text-align: center;
}

.videosElement ul li a:hover {
    border-left: 2px !important;
}

.videosElementFigcation {
    width: 160px !important;
}

.videosElement {
    display: block;
    height: 85%;
    padding-right: 2%;
    overflow: hidden !important;
}

figcaption {
    display: block;
    text-align: center;
    font-size: 0.8em !important;
    font-weight: bold;
    padding: 2px 0 0 0;
}

.categoryFigure figcaption {
    text-align: justify !important;

}

.categoryFigure {
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}

.categoriesElement {
    display: block;
    width: 100%;
}

.rootsElement {
    width: 100%;
    display: block;
    position: relative;
}

.viewByElement {
    width: 100%;
    position: relative;
    display: block;
    float: right;
}

.datesElement {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itemsElement {
    padding-top: 20px;
    display: block;
}

.itemsElement, .datesElement,  .viewByElement, .rootsElement {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color:#f0f0f0;
}

#playerElement {
    width: 0px;
    height: 0px;
    position: fixed;
    display: block;
    
}

.controlsElement {
    padding-left: 70px;
    color: green;
    position: fixed;
    bottom: 13%;
}

.controlsElement a {
    background-color: #f0f0f0;
}

.searchingElement
{
    position: fixed;
    padding-top:75px;
    right:50px;
    color: black;
    font-size: 14px;
}

.watchingElement {
    position: fixed;
    top:50px;
    right:20px;
}


.itemsListUL {
    float: left;
}

.itemLIelement, h3 {
    width: 100% !important;
}


.fullScreenView {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}

.fullScreenViewPlayer {
    height: 95% !important;
    top: 0px;
    left: 0px;
    width: 100% !important;
    padding-left: 0px !important;
}

.logo {
    padding-left: 100px;
    padding-right: 50px;
    width: 131px;
    height: 66px;
    float: left;
}

.playerAndControls {
    float: left;
    position:fixed;
}

.rootsSelectElement, .datesSelectElement, .itemsSelectElement {
    border-width: 3px;
    border-color: #f0f0f0f0;
    font-size: 15px;
    background-color: transparent;
}

.itemsSelectElement {
    max-width: 200px;
}

.videoImage {
    display: block;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 10px !important;
    -webkit-margin-end: 10px !important;
    margin-bottom: 0em !important;
    margin-top: 0em !important;
    margin-left: 10px !important;
    margin-right: 10px !important;    
}

.paginationElement {
    width: 100%;
    float: left;
    z-index: 7;
    padding-left: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 15px;
    bottom: 3%;
    position: fixed;
    font-size: 14px;
}

footer {
    width: 100%;
    background-color: #f0f0f0;
    text-align: right;
    color: #000000;
    position: fixed;
    bottom: 1.5%;
    font-size: 15px;
    left: 0px;
    padding-right: 10px;
}

.videosButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 10%;
    top: 10%;
    position: fixed;
}

.aboutButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 80%;
    top: 10%;
    position: fixed;

}

form {
    background-color: #ffffff;
    opacity: 0.7;
    position: fixed;
    bottom: 40%;
    right: 45%;
    border: 4px black solid;
}



.loginButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 80%;
    bottom: 10%;
    position: fixed;
}

.register {
    background-color: #ffffff;
}