body {
    display: block;
    font-family: "Courier New";
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color: #f0f0f0;
    height:70px;
    width: 100%;
    display: block;
    position:fixed;
    z-index: 6;
    left: 0%;
    border-top: 10px solid white;
    top: 0%;
}

aside {
    width: 15%;
    padding-left: 6%;
    padding-top: 5%;
    float:left;
    overflow: auto;    
}

nav {
    
    height: 80%;
    width: 17%;    
    top: 15%;
}

article {
    width:77%;
    display: block;
    float: right;
    padding-top: 7%;
    padding-bottom: 5%;
}

ul {
  margin-bottom: 1em;
  padding-left : 0em;
  margin-left: 0em;
  display:block;
  list-style: none;
  float:left;
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;
  -webkit-margin-start: 10px !important;
  -webkit-margin-end: 10px !important;
  -webkit-padding-start: 10px !important;
  background-color: #ffffff;
}

li {
  float:right;
  padding-left: 5px;
  padding-right: 5px;
}

.timeline {
    white-space: normal;
    width: 15% !important;
    display: block;
    float: right;
    z-index: 4;
    height: 75%;
    right: 1px;
    margin-top: 5%;
}

.timeline ul {
    display: block;
    float: right;

}

.timeline li {
    white-space: normal !important;
    width: 150px;
    display: block;
    float: right;
}

.timeline figcaption {
    width: 140px;
    text-align: left;
}

.logo img {
    width: 131px !important;
    height: 66px !important;
}

img {
    width: 140px;
    height: 100px;
    background-color: cadetblue;
}

.videosElement ul {
    float: right;
    display: block;
    background-color: #ffffff;
    width: 100%;
}

.videoElement figure {
    width: 165px;
}

.videosElement li {
    float: right;
    padding-left: 1px;
    padding-right: 1px;
    white-space: nowrap;
    margin-left: 20px;
}
.videosElement img {
    width: 160px;
    height: 120px;
    background-color: cadetblue;
}

.loadingElement {
    padding-top: 50px;
    padding-bottom: 15px;
    display:block;
    text-align: center;
}

.videosElement ul li a:hover {
    border-left: 2px !important;
}

.videosElementFigcation {
    width: 140px !important;
}

.videosElement {
    display: block;
    height: 85%;
    padding-right: 2%;
    overflow: hidden !important;
}

figcaption {
    display: block;
    
    font-size: 0.8em !important;
    font-weight: bold;
    padding: 2px 0 0 0;
}

.categoryFigure figcaption {
    text-align: justify !important;

}

.categoryFigure {
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}

.categoriesElement {
    display: block;
    width: 100%;
}

.rootsElement {
    width: 100%;
    display: block;
    position: relative;
}

.viewByElement {
    width: 100%;
    position: relative;
    display: block;
    float: right;
}

.datesElement {
    width: 100%;
    position: relative;
    display: block;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.itemsElement {
    padding-top: 20px;
    display: block;
}

.itemsElement, .datesElement,  .viewByElement, .rootsElement {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color:#f0f0f0;
}

#playerElement {
    width: 0px;
    height: 0px;
    position: fixed;
    display: block;
    padding-top: 4%;

}

.controlsElement {
    padding-left: 70px;
    color: green;
    position: fixed;
    bottom: 13%;
}

.controlsElement a {
    background-color: #f0f0f0;
}

.searchingElement
{
    position: fixed;
    padding-top:75px;
    right:50px;
    color: black;
    font-size: 14px;
}

.watchingElement {
    position: fixed;
    top:50px;
    right:20px;
}


.itemsListUL {
    float: left;
}

.itemLIelement, h3 {
    width: 100% !important;
}


.fullScreenView {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}

.fullScreenViewPlayer {
    height: 95% !important;
    top: 0px;
    left: 0px;
    width: 100% !important;
    padding-left: 0px !important;
}

.logo {
    padding-left: 100px;
    padding-right: 50px;
    width: 131px;
    height: 66px;
    float: left;
}

.playerAndControls {
    float: left;
    position:fixed;
}

.rootsSelectElement, .datesSelectElement, .itemsSelectElement {
    border-width: 3px;
    border-color: #f0f0f0;
    font-size: 15px;
    background-color: transparent;    
}

#rootsSelectElement, #datesSelectElement, #itemsSelectElement {
    display: block;
}

#roots {
    display: none;
}
#items, #dates {
    display: block;
}

.itemsSelectElement {
    max-width: 200px;
}

.videoImage {
    display: block;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    -webkit-margin-start: 10px !important;
    -webkit-margin-end: 10px !important;
    margin-bottom: 0em !important;
    margin-top: 0em !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    
}


.paginationElementNXPV, .paginationElement, navSearch {
    width: 40%;
    float: right;
    z-index: 7;
    bottom: 5%;
    left: 30%;
    font-size: 14px;
    position: fixed;
    background-color: white;
    border: 2px solid black;
    text-align: center;

}

.currentChannel {
    
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    right: 3%;
    position: fixed;
    
    background-color: white;
    
}

.videosDiv {
    padding-top: 4%;
}

.currentEvent {
    display: inline;
    
}

.channel {
    display: inline;
    
}

.currentEvent a {
    background-color:#cccccc;
}

.categoryFigure img, .userSiteImg {
    width: 46px;
    height: 42px;
    background-color: transparent !important;
}
footer {
    width: 100%;
    background-color: #f0f0f0;
    text-align: right;
    color: #000000;
    position: fixed;
    border-bottom: 10px solid white;
    font-size: 15px;
    left: 0px;
    padding-right: 10px;
    bottom: 0%;
    z-index: 10;
}

.userSite {
    float: right;
    width: 50%;
}

.userSite a {
    float: right;
}

#searchingTitle, .searchingTitle {
    font-weight: bold !important;
    padding-bottom: 2%;
    float: left;
    background-color: white;
    display: inline;
    position: fixed;
    left: 20%;

}


form {
    background-color: #ffffff;
    opacity: 1.0;
    
    bottom: 40%;
    
    border: 4px black solid;
}



.loginButton {
    font-size: 40px;
    background-color: #ffffff;
    right: 80%;
    bottom: 10%;
    position: fixed;
}

.register {
    background-color: #ffffff;
}

.searchBar {
opacity: 0.0;
position: relative !important;
border: 0px !important;
left: 0%;
top: 1% !important;
}

.updatedat {
    font-size: 0.7em;
    font-weight: normal;
}

.searchForm {
    font-size: 1.5em;
    opacity: 1.0;
    background-color: transparent;
    border: 0px !important;
    padding-left: 10%;
}

.spanQuestion, .asterisk, .spanNoResults, .divFaq {
    background-color: white !important;
}

.divFaq {
    border: 2px black solid;
}

#keyWordId, .dinxit {
    font-size: 1.4em !important;
    border: 4px black solid !important;
}

.dinxit {
    width: 150px;
    height: 60px;
    background-color: white;    
}

.noroot {
    top: 30%;
    position: fixed;
    float: right;
    width: 5%;
    font-size: 0.8em;
    text-align: right;
}

.explanation {
    font-size: 0.8em;
    text-align: center;
    float: left;
    width: 50%;
    font-family: helvetica;
    padding-top: 1%;
    font-style: italic;
}

.homeDiv {
    bottom: 6%;
    left: 10%;
    display: block;
    float: left;
    position: fixed;
}

.redText {
    color: red;
}

.asterisk {
    font-size: 0.60em !important
}

.faq {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 2.0;
    position: relative;
    top: 10%;
    height: 80% !important;
    overflow: auto;
}