body {
    color: #000000;
    font-family: "Courier New";
    font-size: 1em;
    font-weight: normal;
}

a, a:visited {
    text-decoration: none;
    color: #000000;
    background-color: #d8d8d9;
}

a:hover {
    background-color: #f0f0f1;
}

section {
    top: 20%;
    width: 100%;

}
header {
    height: 15%;
    display: block;
    overflow: hidden;
}

h1 {
    overflow: hidden;
}

article {
    width: 100%;
    height: 89%;
    display: block;
    left: 0%;
    padding-bottom: 4%;
}

nav {
    overflow: hidden;
    font-size: 0.8em;
}

#JWPlayerId_wrapper{
    position: relative !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;    
}

.firefox {
    width: 873px !important;
    height: 480px !important;
}

#JWPlayer {
    position: relative !important;
    display: block !important;    
}

aside{
    display: block;
    overflow: hidden;
    width: 100%;
}

.videosBox, #itemsNav, #datesNav, #rootsNav, #eventsNav {
    float: left;
    display: block;
    list-style: none;
}

li {
    float: right;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20pt;
}

.live {
    float: left;
}

.liveEvent {
    float: right;
}

#itemsNav, #datesNav, #rootsNav, #eventsNav{
    display: none;
}

.isLive {
    border: 2px solid red;
}

#nextVideo {
    font-size: 0.7em;
}