<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<title>{{ year }}</title>
		<LINK REL=StyleSheet HREF="http://localhost/media/css/style.css" TYPE="text/css" MEDIA=screen>	
		<script type='text/javascript' src='http://swfobject.googlecode.com/svn/trunk/swfobject/swfobject.js'></script>
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
		<script type="text/javascript" src="http://localhost/media/js/jquery.jcarousel.js"></script>
        
        <script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-33704775-1']);
  		  _gaq.push(['_setDomainName', 'dinx.tv']);
		  _gaq.push(['_trackPageview']);

  		(function() {
    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

		</script>

        {% block initialize %}
        
        {% endblock %}
        
	</head>
	<body id=body_holder>
        	
     	 	{% block content %}
            {% endblock %}
        
	</body>
</html>
