{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
	<header><div id="search_bar"></div></header>
	<article id=main_article>
	

	<div id = search_block>
	{% if inputs == "one" %}
        
    	{% block oneStepPath %}
        {% endblock %}
    {% endif %}   
    {% ifequal inputs "two" %}
    	{% block twoStepPath %}
        {% endblock %}
    
    {% else %}
        {% for cat in categories %}
	    <div id = categories>{{ cat }}</div>
	    <div id="root_items">	
	    {% for item in outlist %}
	    {% if item.category in cat %}

        	<a href =# onclick = "choose_search('{{ cat }}','{{ item.root }}')">{{ item.root }}</a><br>

		
	    {% endif %}      
	    {% endfor %}
        </div>
	    {% endfor %}
          
	</div>
	
	{% endifequal %}
	
	<div class = player id = player></div>
	<script>
     
    </script>
	<div class=loading id=loading style='display:none'>
		<img src="http://localhost/media/ajax-loader.gif" />
	</div>
	<div id="video_controls"></div>
	</article>

	
	<div id="event_box"></div>
    <footer id = "timeline"></footer>
	
{% else %}
<a href = "/accounts/login/">login</a>

{% endif %}
{% endblock %}
