{% extends "base.html" %}
{% block initialize %}
        <script type='text/javascript'>
            {% if init == 1 %}
            
            loadDataByYear({{year}});
            {% endif %}
            {% if item %}
            loadDataByRoot({{year}},'{{item}}');
            {% endif %}
        </script>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
        <header>
	 	<div id="dates">
	 	    {% block dates_block %}{% endblock %}
        </div>
        <div id = "roots">
        {% block root_block %}{% endblock %}
        </div>
        </header>
		<aside>
			
			<nav>
			<ul id="evs"></ul>
			</nav>
		</aside>
	
		<article>
				<div id="playerContainer" align=center>
						<object id="ytapiplayer"></object>
				</div>
				<div id="side_info">
					<ul id="items"></ul>
                    
				</div>
		</article> 
		
		<footer>
			<div id="controls">
                <a href="javascript:void(0);" onclick="start_channel();">Start</a>-
				<a href="javascript:void(0);" onclick="start();">Play</a>-
			    <a href="javascript:void(0);" onclick="pause();">Pause</a>-
			    <a href="javascript:void(0);" onclick="mute();">Mute</a>-
			    <a href="javascript:void(0);" onclick="nextVid();">Next Video</a> 
			</div>
			<div id=search_string></div>-><div id="name"></div>-<a href="#" onclick="clearSearch()">Clear</a>       
	 		</footer>             
{% else %}
<a href = "/accounts/login/?next=/1974/Serie A/">login</a>
{% endif %}
{% endblock %}

