{% extends "home_page.html" %}
{% block oneStepPath %}
{% if user.is_authenticated %}
<script type="text/javascript">
info.current.category = "{{ category }}";
//console.log({{ json_events }});
//ev = JSON.parse(decodeURI({{ json_events }}));
{% for event in events %}
info.current.available_roots.push("{{ event }}");
{% endfor %}
info.playing = true;
info.urlStatic = true;
createRootsList();

</script>
{% else %}
<a href = "/accounts/login/?next=/1974/Serie A/">login</a>

{% endif %}
{% endblock %}

{% block twoStepPath %}
<script type="text/javascript">
info.current.search_terms.push("{{ root }}");
display_search_options();
</script>
{% endblock %}
